<center>
<img src="http://www.bigdive.eu/wp-content/uploads/2012/05/logoBIGDIVE-01.png">
</center>

---

# PANDAS
(The initial version of this notebook was prepared by André Panisson for Big Dive 2016.)

---

In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd
plt.rc('figure', figsize=(10, 6))

Series
======

Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index.

In [5]:
labels = ['a', 'b', 'c', 'd', 'e']
s = pd.Series(randn(5), index=labels)
s
# pd è una abbreviazione di pandas (libreria)

a    1.309284
b   -1.593557
c   -0.543915
d    2.396305
e   -0.999904
dtype: float64

In [6]:
s.index

Index([u'a', u'b', u'c', u'd', u'e'], dtype='object')

Operators that work in dictionaries also work on Series objects

In [7]:
'b' in s

True

In [8]:
s['b']
# s sta per serie

-1.593556987699807

We can transform a Series in a dictionary, and a dictionary in a Series

In [11]:
mapping = s.to_dict()
mapping
# trasformo le serie in dizionari

{'a': 1.3092844434392072,
 'b': -1.593556987699807,
 'c': -0.54391531186710351,
 'd': 2.3963053517086883,
 'e': -0.99990380105957577}

In [12]:
s = pd.Series(mapping)
s
# ottengo lo stesso dizionario di prima

a    1.309284
b   -1.593557
c   -0.543915
d    2.396305
e   -0.999904
dtype: float64

Slicing works in a Series the same way it works in numpy arrays

In [13]:
s[:3]

a    1.309284
b   -1.593557
c   -0.543915
dtype: float64

## DataFrame

A Pandas DataFrame is a 2D collection of Series. Each Series of a DataFrame is a column.

This is generally the most commonly used pandas object.

In [15]:
df = pd.DataFrame({'a': np.random.randn(6),
                'b': ['foo', 'bar'] * 3,
                'c': np.random.randn(6)})
df
# b: ripeto la lista (foo, bar) 3 volte
# a: np è numpy

          a    b         c
0  0.452674  foo  1.174007
1 -1.461897  bar -0.696137
2  1.535142  foo  1.165151
3 -0.354195  bar -1.044519
4  0.179370  foo -0.924156
5  0.262686  bar -0.205482

In [16]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [17]:
df.columns
# u è una questione di formato, uf-8

Index([u'a', u'b', u'c'], dtype='object')

In [20]:
df = pd.DataFrame({'a': np.random.randn(6),
                'b': ['foo', 'bar'] * 3,
                'c': np.random.randn(6)},
               index=pd.date_range('1/1/2000', periods=6, freq = 'M'))
df
# sto specificando che indice voglio
# index serve per dare le righe di date
# la freq di default è giorni; la funzione è pandas.data.range con freq = D (di default), altrim freq = 'M'

                   a    b         c
2000-01-31 -1.368065  foo  0.189498
2000-02-29 -1.874329  bar -0.115871
2000-03-31  1.683437  foo -0.701523
2000-04-30  0.666844  bar -0.757045
2000-05-31 -0.050802  foo -0.183921
2000-06-30 -0.835616  bar -0.656141

In [21]:
df = pd.DataFrame({'a': np.random.randn(6),
                'b': ['foo', 'bar'] * 3,
                'c': np.random.randn(6)},
               columns=['a', 'b', 'c', 'd'])
df
# ho creato una colonna (d), ma me la crea vuota perchè non ho specificato niente

          a    b         c    d
0  0.237608  foo -0.453528  NaN
1  0.027406  bar -0.697746  NaN
2  0.151063  foo  0.942647  NaN
3  1.285152  bar -0.463196  NaN
4  0.064599  foo -0.078577  NaN
5  0.836159  bar  0.555453  NaN

Creation from nested dicts
--------------------------

These arise naturally in Python code

In [22]:
data = {}
for col in ['foo', 'bar', 'baz']:
    for row in ['a', 'b', 'c', 'd']:
        data.setdefault(col, {})[row] = randn()
data
# creo un dizionario vuoto
# questo è ancora un dizionario, nel comando sotto lo faccio diventare un dataframe
# creo un dizionario dentro un dizionario
# creo una colonna con nome foo, se non c'è mi restituisce un dizinario vuoto {}, e va avanti a popolare
# creato il foo, associa le [row] corrispondenti

{'bar': {'a': -0.11003987414058228,
  'b': 0.1810689643649255,
  'c': -0.4807830673035518,
  'd': -0.5560479120946009},
 'baz': {'a': 0.4305136494753851,
  'b': 1.020380897672982,
  'c': -0.6835295352279149,
  'd': 0.16960011911936174},
 'foo': {'a': -0.41186572361525486,
  'b': -0.21480072226274158,
  'c': 1.7020889421737486,
  'd': -0.4126879465996812}}

In [23]:
pd.DataFrame(data)

        bar       baz       foo
a -0.110040  0.430514 -0.411866
b  0.181069  1.020381 -0.214801
c -0.480783 -0.683530  1.702089
d -0.556048  0.169600 -0.412688

Data alignment
==============

In [24]:
close_px = pd.read_csv('stock_data.csv', index_col=0, parse_dates=True)

In [25]:
close_px.head()

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
2007-10-29  37.41  185.09  34.46  106.78  57.13  31.78  65.67  1540.98  85.51
2007-10-30  36.43  187.00  34.39  106.15  56.99  32.70  65.80  1531.02  83.25
2007-10-31  36.79  189.95  34.97  108.01  57.30  33.84  65.69  1549.38  84.03
2007-11-01  35.22  187.44  34.27  105.72  56.85  34.07  64.51  1508.44  80.84
2007-11-02  35.83  187.87  34.27  106.59  56.95  34.07  65.03  1509.65  80.32

In [ ]:
s1 = close_px['AAPL'][-20:]
s2 = close_px['AAPL'][-25:-10]

def side_by_side(*objs, **kwds):
    #from pandas.core.common import adjoin
    from pandas.formats.printing import adjoin
    space = kwds.get('space', 4)
    reprs = [repr(obj).split('\n') for obj in objs]
    print adjoin(space, *reprs)
    
side_by_side(s1, s2)

In [ ]:
s1 + s2

In [ ]:
df = close_px.ix[-10:, :3]
df

In [ ]:
side_by_side(s1.reindex(s2.index), s2)

In [ ]:
b, c  = s1.align(s2, join='inner')
side_by_side(b, c)

In [ ]:
b, c  = s1.align(s2, join='outer')
side_by_side(b, c)

In [ ]:
b, c  = s1.align(s2, join='right')
side_by_side(b, c)

In [ ]:
b, c  = s1.align(s2, join='left')
side_by_side(b, c)

In [ ]:
df = close_px.ix[-10:, ['AAPL', 'IBM', 'MSFT']]
df

In [ ]:
df2 = df.ix[::2, ['IBM', 'MSFT']]
side_by_side(df, df2)

In [ ]:
df + df2

In [ ]:
b, c = df.align(df2, join='inner')
side_by_side(b, c)

Transposing
-----------

In [ ]:
df[:5].T

Columns can be any type
-----------------------

In [ ]:
n = 10
foo = pd.DataFrame(index=range(n))
foo['floats'] = np.random.randn(n)
foo['ints'] = np.arange(n)
foo['strings'] = ['foo', 'bar'] * (n / 2)
foo['bools'] = foo['floats'] > 0
foo['objects'] = pd.date_range('1/1/2000', periods=n)
foo

In [ ]:
foo.dtypes

Function application
====================

You can apply arbitrary functions to the rows or columns of a DataFrame

In [ ]:
df.apply(np.mean)

In [ ]:
df.apply(np.mean, axis=1)

You can get as fancy as you want

In [ ]:
close_px.head()

In [ ]:
def peak_date(series):
    return series.index[series.values.argmax()]
close_px.apply(peak_date)

In [ ]:
df.apply(lambda x: x.max() - x.min())

In [ ]:
np.log(close_px)

Plotting
========

Some basic plotting integration with matplotlib in Series / DataFrame

In [ ]:
close_px[['AAPL', 'IBM', 'MSFT', 'XOM']].plot()

In [ ]:
close_px.ix[-1]

In [ ]:
close_px.ix[-1].plot(kind='bar')
title('Prices on %s' % close_px.index[-1])
axhline(0)

GroupBy
=======

In [ ]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                       'foo', 'bar', 'foo', 'foo'],
                'B' : ['one', 'one', 'two', 'three',
                       'two', 'two', 'one', 'three'],
                'C' : np.random.randn(8),
                'D' : np.random.randn(8)})
df

In [ ]:
for key, group in df.groupby('A'):
    print key
    print group

In [ ]:
df.groupby('A')['C'].describe().T

In [ ]:
df.groupby('A').mean()

In [ ]:
for key, group in df.groupby('A'):
    print key
    print group

In [ ]:
df.groupby(['A', 'B']).mean()

In [ ]:
df.groupby(['A', 'B'], as_index=False).mean()

---

## Analysis of the baby names dataset

In [ ]:
names = pd.read_csv('baby-names.csv')

In [ ]:
names.head()

In [ ]:
names.dtypes

In [ ]:
names[names.year == 1880]

In [ ]:
names[names.year == 1880].tail()

In [ ]:
boys = names[names.sex == 'boy']    
girls = names[names.sex == 'girl']

In [ ]:
boys.groupby('year')

In [ ]:
boys.groupby('year').size()

In [ ]:
names.groupby(['year', 'sex']).size()

In [ ]:
type(names.groupby(['year', 'sex']).size())

In [ ]:
names.groupby(['year', 'sex']).size().ix[2000]

In [ ]:
boys[boys.year == 2000]

In [ ]:
boys[boys.year == 2000].prop

In [ ]:
boys[boys.year == 2000][:5]

In [ ]:
boys[boys.year == 2000].prop.idxmax()

In [ ]:
boys.ix[boys[boys.year == 2000].prop.idxmax()]

In [ ]:
def get_max_record(group):
    return group.ix[group.prop.idxmax()]

get_max_record(boys)

In [ ]:
def get_max_record(group):
    return group.ix[group.prop.idxmax()]

result = boys.groupby('year').apply(get_max_record)

In [ ]:
result

In [ ]:
result.prop.plot()

In [ ]:
boys[boys.name == 'Travis']

In [ ]:
idf = boys.set_index(['name', 'year'])

In [ ]:
idf[-50:]

In [ ]:
idf.ix['Travis']

In [ ]:
idf.ix['Travis'].prop.plot()

In [ ]:
boys.groupby('name')['prop'].mean()

In [ ]:
boys.groupby('name')['prop'].mean().sort_values()

In [ ]:
boys['prop'].describe()

In [ ]:
result = boys.groupby('year')['prop'].describe()

In [ ]:
result[:50]

In [ ]:
df = boys[boys.year == 2008]

In [ ]:
df.prop

In [ ]:
df = boys[boys.year == 2008].sort_values(by='prop', ascending=False)

In [ ]:
df.prop

In [ ]:
df.prop.cumsum()

In [ ]:
df.prop.values.cumsum().searchsorted(0.5)   # Also used as a measure of diversity.

In [ ]:
df.prop.cumsum()[:130]

In [ ]:
def get_quantile_count(group, quantile = 0.5):
    df = group.sort_values(by='prop', ascending=False)
    return df.prop.values.cumsum().searchsorted(quantile)

boys.groupby('year').apply(get_quantile_count).plot()

In [ ]:
def get_quantile_count(group, quantile=0.5):
    group = group.groupby('soundex').sum()
    df = group.sort_values(by='prop', ascending=False)
    return df.prop.values.cumsum().searchsorted(quantile)

q = 0.25
boy_ct = boys.groupby('year').apply(get_quantile_count, quantile=q)   # pass different values for quantile
girl_ct = girls.groupby('year').apply(get_quantile_count, quantile=q)
boy_ct.plot(label='boy')
girl_ct.plot(label='girl')
legend(loc='best')

In [ ]:
boys[boys.year == 2008].prop.rank()

In [ ]:
grouped = boys.groupby('year')['prop']

In [ ]:
grouped.transform(pd.Series.rank)

In [ ]:
boys['year_rank'] = grouped.transform(pd.Series.rank)

In [ ]:
boys[boys.name == 'Andrew'].year_rank.plot()

In [ ]:
names

In [ ]:
births = pd.read_csv('births.csv')

In [ ]:
merged = pd.merge(names, births, on=['year', 'sex'])

In [ ]:
pd.merge(names, births)

In [ ]:
merged['persons'] = np.floor(merged.prop * merged.births)

In [ ]:
merged.head()

In [ ]:
merged.groupby(['name', 'sex'])['persons'].sum()

In [ ]:
merged.groupby(['name', 'sex'])['persons'].sum().sort_values()

In [ ]:
mboys = pd.merge(boys, births)

In [ ]:
mboys['persons'] = np.floor(mboys.prop * mboys.births)

In [ ]:
persons = mboys.set_index(['year', 'name']).persons

In [ ]:
type(persons)

In [ ]:
persons

In [ ]:
persons.ix[:, 'Christopher'].plot(kind='bar', rot=90)  # Plot is crowded. Matplotlib doesn't go more than 130 in x axis.

---

Reproduction of [Quantifying Trading Behavior in Financial Markets Using Google Trends](http://www.nature.com/srep/2013/130425/srep01684/pdf/srep01684.pdf)
==============================================

In this section we will reproduce a paper published recently on using Google Trends search volume for specific terms (e.g. 'debt') to predict market movements.

In [ ]:
from IPython.core.display import HTML
HTML("<iframe src=http://www.nature.com/srep/2013/130425/srep01684/full/srep01684.html width=900 height=400></iframe>")

In [ ]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('figure', figsize=(8, 7))

Tobias Preis was kind enough to provide me with the data used in this publication. There are many Google Trends search words but here we will only be using 'debt'.

In [ ]:
data = pd.read_csv('GoogleTrendsData.csv', index_col='Date', parse_dates=True)
data.head()

djia is the Dow Jones Industrial Average

In [ ]:
data.plot(subplots=True)

The authors detect if search volume is relatively increasing or decreasing in any given week by forming a moving average and testing if the current value crosses the moving average of the past 3 weeks. 

Lets first compute the moving average.

In [ ]:
data['debt_mavg'] = data.debt.rolling(window=3).mean()
data.head()

Since we want to see if the current value is above the moving average of the *preceeding* weeks, we have to shift the moving average timeseries forward by one.

In [ ]:
data['debt_mavg'] = data.debt_mavg.shift(1)
data.head(10)

### Generate the order signals.

From the paper:

"We use Google Trends to determine how many searches n(t – 1) have been carried out for a specific search term such as debt in week t – 1, where Google defines weeks as ending on a Sunday, relative to the total number of searches carried out on Google during that time."

and

"We implement this strategy by selling the DJIA at the closing price p(t) on the first trading day of week t, if Δn(t − 1, Δt) > 0, and buying the DJIA at price p(t + 1) at the end of the first trading day of the following week. [...]. If instead Δn(t − 1, Δt) < 0, then we buy the DJIA at the closing price p(t) on the first trading day of week t and sell the DJIA at price p(t + 1) at the end of the first trading day of the coming week."

In [ ]:
data.loc[:, 'order'] = 0
data.loc[data.debt > data.debt_mavg, 'order'] = -1 # Short if search volume goes up relative to mavg.
data.loc[data.debt < data.debt_mavg, 'order'] = 1 # Long if search volume goes down relative to mavg.
data.head(10)

### Compute returns

In [ ]:
data['ret_djia'] = data.djia.pct_change()
data.head()

Returns at week `t` are relative to week `t-1`. However, we are buying at week `t` and selling at week `t+1`, so we have to adjust by shifting the returns upward.

In [ ]:
data['ret_djia'] = data['ret_djia'].shift(-1)
data.head()

The algorithm that is used by the authors makes a decision every Monday of whether to long or short the Dow Jones. After this week passed, we exit all positions (sell if we longed, buy if we shorted) and make a new trading decision.

The `ret` column contains the weekly returns. Thus, if we buy at week `t` sell at week `t+1` we make the returns of week `t+1`. Conversely, if we short at week `t` and buy back at week `t+1` we make the negative returns of week `t+1`.

In [ ]:
# Compute returns of our strategy
data['ret_google'] = data.order * data.ret_djia
data.head(10)

Now we just have to compound the returns. As we are reinvesting our earns, returns actually do not compound by summing them up but by taking their cumulative product:

$$i_t = (i_{t-1} + i_{t-1} \cdot r_t) = (1 + r_t) \cdot i_{t-1}, \quad i_0 = 1$$

In [ ]:
figure(figsize=(9, 2))
(1 + data.ret_google).cumprod().plot()
plt.ylabel('Portfolio value')

In [ ]:
from IPython.core.display import Image 
Image("http://www.nature.com/srep/2013/130425/srep01684/carousel/srep01684-f2.jpg")

# Credits

This notebook was partly extracted from the Tutorial of Wes McKinney, author of Pandas, at Pycon 2013 in Santa Clara.


The Google Trends example was extracted from the tutorial **Financial Analysis in Python**, given by Thomas Wiecki at PyData Boston 2013